{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div style="height: 100px;">
</div>

<div class="mx-4 mt-5" >
<h1 style="text-align:center">Users</h1>

    

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="table-danger">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="me-4" href="{{ path('app_admin_user_show', {'id': user.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><i class="fa fa-edit" style="font-size:24px"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="count d-flex justify-content-end">  
       <span>{{countUsers.getTotalItemCount }} Users</span>
    </div>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(countUsers) }}
    </div>

    <a class="btn btn-success" href="{{ path('app_admin_user_new') }}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-plus-fill pb-1" viewBox="0 0 16 16">
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg> new</a>
</div>
    
{% endblock %}
